
<footer class="text-center py-1" style="background-color: rgb(249, 248, 233)">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 text-center text-md-start">
          <div class="text-black" style="font-weight: lighter">&copy; 2024 Copyright: Elyes Besbes & Emna Haddar</div>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <a class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-linkedin"></i></a>
          <a class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-github"></i></a>
          <a href="https://github.com/Emnahad/DwiraApplication" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
</footer>

