<app-header></app-header>

<div class="container">
    <div id="map" class="col-md-6 fixed-map"></div>
    <div class="col-md-6 content">
        <h1 class="text-center" style="font-size: 26px; margin-top: 10px;"><span style="color: #D0A933;">Guest Houses</span> According To Location</h1>
        <div class="container">
            <div class="cardsHouses">
                <div class="col-md-3 center-content">
                    <div class="card-sl" style="margin-bottom: 150px; margin-top: 20px;" *ngFor="let house of guestHouses">
                        <div class="card-image"><img src="{{house.imageUrls[0]}}" /></div>
                        <div class="card-heading text-center">{{house.name}}</div>
                        <div class="card-text text-center">{{house.city}} - {{house.pricePerday}} DT/Jour</div>
                        <a (click)="navigateToGuestInfo(house.id)" class="card-button">View Details</a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>